/* small Bootstrap-friendly tweaks */

header .display-6 {
  font-size: 2rem;
  line-height: 1;
}

.card h5 {
  font-weight: 600;
}

input.form-control {
  min-height: 44px;
}

.btn-primary {
  min-width: 90px;
}

/* ensure WeatherCard fits nicely if it doesn't use .card */
.weathercard-wrapper,
.weather-card {
  height: 100%;
}

@media (max-width: 575.98px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}